
body{
    padding:0;
    margin:0;
}

.navbar{
    width:100vw;
    background-color: grey;
    padding-top:0;
    margin:0;
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.logout-button{
    margin-right:5vw;
    padding:0.5vw;
}

.proj-type{
    text-align: center;
}

.prog-page-layout{
    display:flex;
    flex-direction: row;
    justify-content: center;
}