<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="proj-page-layout">

        <h2 class="proj-type-clean">{{UData.name}}: {{type}} <br> {{UData.email}}</h2>


        {% for standard in standards %}
        <h2 class="standard-name-clean">{{standard}}</h2>
        <div class="dropdown-standards-clean">

            {% for tier in standards[standard] %}
            <div>
                <div class="tier-div {{ (tier.keys() | list | first)[1]}}">
                    <h2 class="tier-name-clean">{{ tier.keys() | list | first | first}}</h2>
                </div>
                {% for tick in tier[tier.keys() | list | first ] %}
                <p class="clean-tick-tick">{{tick}} - {% if standard ~ '-' ~ tick in tickValues %}Completed!{% else
                    %}Not Completed!{% endif %}</p>
                <br>
                <p>{% if textValues[standard ~ '-' ~ tick] %}{{ textValues[standard ~ '-' ~ tick] }}{% else %}No
                    Feedback Required!{% endif %}</p>
                <br><br>
                {% endfor %}
            </div>

            {% endfor %}

        </div>
        <br>
        <div class="line"></div>
        <h2 class="proj-type-clean">You currently will get {{listy[standard]}} for this standard!</h2>
        <br>

        {% endfor %}

    </div>
</body>

</html>