{% extends 'layout.html' %} {% block content %}
<div class="instructions-page">
    <h1 class="instructions-header">Instructions to add new Student Projects:</h1>
    <form method="POST" enctype="multipart/form-data" class="file-inputs">
        <div>
            <p class="instruction">Once logged into KAMAR, go to Reporting and click Student Lists. Open the Student
                List – Custom Fields option, then use the search filter at the top left to find all attending students.
                Next, click the Field List tab, click Select All to grab every available data column, and hit Apply.
                Finally, click Actions at the top left, select Export, make sure the format is set to CSV, and hit OK to
                save the complete file to your computer. Upload the file in the below selector.</p>

            {{ form.hidden_tag() }}
            <label for="file" class="file-label">Choose CSV:</label>
            {{ form.file(id="file", class="file") }}
            <span id="file-name" class="file-name-text">No file selected</span>
        </div>
        <div>
            <p class="instruction">From the dropdown below, select the project type you would like to generate each
                students project under.</p>
            <!-- 
        <label for="dropdown" class="dropdown-instructions-label">Select Project Type:</label> -->
            {{ form.dropdown(id="dropdown", class="dropdown-instructions") }}

        </div>
        <div>
            <p class="instruction">On upload, you will find a new student profile in your profile page which you can
                click on to find more information!</p>

            {{ form.upload(class="file-label") }}
        </div>
    </form>
</div>

<script>
    document.getElementById("file").addEventListener("change", function () {
        const fileName = this.files.length > 0 ? this.files[0].name : "No file selected";
        document.getElementById("file-name").textContent = fileName;
    });
</script>
{% endblock %}