<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <h1 class="site-name">Project Premarking</h1>
        <div class="div-row">
        {% if searchBar %}
        <input class="searchbar" type="text" id="searchbar" placeholder=".......">
        {% endif %}
        {% if current_user.is_authenticated %}
        <form action="/logout">
            <button type="submit" class="logout-button logout">Logout!</button>
        </form>
        {% endif %}

        </div>
    </div>
    {% block content %}

    {% endblock %}
<script>
    const searchbar = document.getElementById('searchbar')
    console.log('hi')
    searchbar.addEventListener('input', async () => {
        document.querySelectorAll(".indiv-project").forEach(project => {
        project.style.backgroundColor = "";
    });
        
        const q = searchbar.value;
        if (!q) return;
        console.log(q)
        const response = await fetch(`/search?q=${encodeURIComponent(q)}`);
        const data = await response.json();
        data.forEach(item => {
            snap(item.id)
        })
    })
    </script>
</body>

</html>