{% extends 'layout.html' %} {% block content %}
<div class="project-page">
    <div class="top-project">
        <div>
            <h1 class="logged-in">{{current_user.email}}'s Students:</h1>
            <p>
                <br>
                Projects: {{projects | count }}
                <br>
                Unmarked: {{counts[1]}}
                <br>
                Marked: {{counts[0]}}
                <br><br>
                <a href="instructions" class="project-link">Add new student projects:</a>
            </p>
        </div>

    </div>
    <div class="projects">
        {% for project in projects %}

        <div class="indiv-project" name="project-{{project['user_id']}}">
            <div class="centre-projects">
                <h1 class="project-user-name">{{project['user']}}</h1>
                <a href="project/{{project['projstand']}}/{{project['user_id']}}"
                    class="project-link">{{project['type']}} Project</a>
                <p class="{% if project['marked'] == 'Premarked' %}marked{% else %}unmarked{% endif %}">
                    {{project['marked']}}</p>
            </div>
            <div class="line between-projects"></div>
        </div>
        {% endfor %}
    </div>
    <button id="top" class="top-button">Go to Top:</button>
</div>



<script>




    function snap(user) {
        console.log(user)
        const search = document.getElementsByName(`project-${user}`);
        console.log(search)
        if (search) {
            search.forEach(item => {
                item.scrollIntoView()
                item.scrollIntoView({ behavior: "smooth", block: "center" });
                item.style.backgroundColor = "green";
                item.style.borderTopLeftRadius = '1vw';
                item.style.borderTopRightRadius = '1vw';
            })
        }
    }
    const topButton = document.getElementById('top')
    
    function scroll() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            topButton.style.display = "block";
        }
        else {
            topButton.style.display = "none";
        }
    }

    topButton.onclick = function() {
        window.scrollTo({
            top: 0
        })
    }

    
    window.onscroll = function() {
        scroll()
    }

</script>

{% endblock %}