{% extends 'layout.html' %} {% block content %}
<form method="POST">
  <div class="proj-page-layout">
    <div class="inline-div">

      <div class="name-type">
        <h1 class="proj-type">{{UData.name}}: {{type}} Project</h1>
        <h1>{{UData.email}}</h1>
      </div>

    </div>

    <div class="project-buttons">
      <div class='dropdown' id="dropdown">
        {% for standard in standards %}
        <button type="button" class="standard-buttons" data-standard="{{standard}}">{{standard}}</button>
        {% endfor %}
      </div>
      <button type="submit" class="email-student">Email Student Progress Report</button>
    </div>

    {% for standard in standards %}
    <div class="dropdown-standards" id="div-{{standard}}">
      {% for tier in standards[standard] %}
      <div>
        <div class="tier-div">
          <h1 class="tier-tag" data-tier="{{ (tier.keys() | list | first)[0] }}">{{ (tier.keys() | list | first)[0] }}
            Criteria
          </h1>
        </div>

        {% for tick in tier[tier.keys() | list | first ] %}
        <div class="tick-div">
          <div class="check-tick">
            <p class="tick-tag">{{tick}}</p>
            <input type="checkbox" name="ticks" value="{{standard}}-{{tick}}">
          </div>
          <textarea wrap="hard" name="texts[{{standard}}-{{tick}}]" placeholder="Feedback:" maxlength="50"></textarea>
        </div>

        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</form>

<script>
  const buttons = document.querySelectorAll('.standard-buttons')

  buttons.forEach(btn => {
    btn.addEventListener('click', function () {
      document.querySelectorAll(".dropdown-standards").forEach(div => {
        div.style.display = "none";
      });

      const cur = this.dataset.standard
      buttons.forEach(button => {
        button.style.backgroundColor = ''
      })
      this.style.backgroundColor = '#8575B4'

      const current = document.getElementById('div-' + cur)
      if (current) {
        current.style.display = 'grid'
      }
    })
  })

  const listy = { 'Achieved': '#008000', 'Merit': '#0275D8', 'Excellence': '#FFCC33' };

  document.querySelectorAll('.tier-tag').forEach(div => {
    const tier = div.dataset.tier;

    if (listy[tier]) {
      div.style.color = listy[tier];
    }
  });
</script>


{% endblock %}